<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link rel="stylesheet" href="style.css">
<script type="text/javascript"></script>
</head>
<body>
<header>
    <div class="logo">
        <!--  <a href="#">Logo.</a>-->
        <img src="C:\Users\HP\Pictures\helloworld.JPG" alt="@deodat04">
    </div>
    <input type="checkbox" id="click">
    <label for="click" class="mainicon">
        <div class="menu">
            <i class="bi bi-list"></i>
        </div>
    </label>
    <nav>
        <a href="#" class="active">Home</a>
        <a href="#">Products</a>
        <a href="#">Add Products</a>
        <a href="#">Contact</a>
    </nav>
</header>
<div id="products">
    <table id="productTable">
        <thead>
          <tr>
            <th>ID</th>
            <th>Categorie</th>
            <th>Informations</th>
            <th>Name</th>
            <th>Quantity</th>
          </tr>
        </thead>
        <tbody>
          <!-- Les lignes du tableau seront générées dynamiquement avec JavaScript -->
        </tbody>
      </table>
</div>
</body>
</html>
